



body {
    display: flex;
    background-image: linear-gradient(280deg,rgb(48, 47, 47),rgb(150, 112, 112));
    color: rgba(15, 122, 172, 0.815);
    background-repeat: no-repeat;
    height: 100vh;
    background-image: 
    linear-gradient(
      115deg,
      rgba(175, 220, 221, 0.3),
      rgba(91, 208, 255, 0.9)
    ),
    url("bg.jpg");
    background-size:cover;
}

.login {
    font-size: 25px;
    background:rgba(5, 86, 133, 0.233);
    margin-right: auto;
    margin-left: auto;
    padding: 100px 100px;
    border-radius: 3%;
    align-self: center;
  }

h1 {
    text-align: center;
    padding-bottom: 2vh;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    text-shadow: rgb(25, 28, 39) 1px 1px 1px;
}
form {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    text-shadow: rgb(25, 28, 39) 1px 1px 1px;
}
.form {
    height: 1.8rem;
}
i {
    text-shadow: rgb(25, 28, 39) 0.3px 0.3px 0.3px; 
}
button {
    height: 2rem;
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    color: rgba(15, 122, 172, 0.815);
    text-shadow: rgb(25, 28, 39) 0.3px 0.3px 0.3px;
    cursor: pointer;
}
button:hover {
    background: rgb(213, 240, 252);
    width: 32%;
    transition: background-color 0.2s;
}

@media screen and (min-width:900px) and (max-width:1200px){
    body {
        background-size:contain;
        height: 100vh;
    }
    .login {
        background:rgba(5, 86, 133, 0.233);
        margin-right: auto;
        margin-left: auto;
        margin-top: 5%;
        padding: 10px 100px;
        border-radius: 3%;
        align-self:initial;
        height: 20vh;
      }
}